:root {
    --brand-color: #4A4CC7;
    --light-brand-color: #FFC72C;
    --text-color:  #000000;
    --light-text-color: #7C7C7C;
    --alert-color:  #EDED00 ;
    --success-color: #67E500;
    --warning-color: #2539EA;
    --error-color: #EA0000;
    --main-background-color : #f8f9fa;
    --light-background-color : #fbfbfb;
    --default-font : Roboto, sans-serif;
    --primary-font : Schibsted Grotesk, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --default-font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
/* Typography Starts here */
*,
html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}

section{
    border-bottom: none;
    margin-bottom: 25px;
}

footer #footer{
    margin-bottom: 0px;
}

a {   
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 4rem;
}
h2 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.813rem;
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

.emphasis {
    font-family: var(--brand-color);
    font-style: italic;
    color: var(--main-brand-color);
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}

.pill-btn {
    border-radius: 499rem;
}

.rounded-corners {
    border-radius: .3rem;
}

.alt-background {
    background: var(--main-background-color);
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-white,
.btn-outline-white,
.btn-success,
.btn-outline-success,
.btn-info,
.btn-outline-info,
.btn-warning,
.btn-outline-warning,
.btn-danger,
.btn-outline-danger {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-white,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
    border-width: .15rem;
}

.btn:focus{
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}


.lead {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color)
}

@media(max-width: 767px) {
    .lead {
        font-size: 1.2rem      
    }
  }

/* Typography Ends here */  

/* #hanu(e871d461930b46f7) #css starts */
.headere871d461930b46f7 .navbar-light{
    background-color: white
}
.headere871d461930b46f7 .letter{
    color: #FFC72C
}
.headere871d461930b46f7 .navbar-brand{
    font-weight: bolder;
    margin-right: 2.5rem
}
.headere871d461930b46f7 .nav-item{
    font-weight: bold
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover {
    color: #4A4CC7
}
.headere871d461930b46f7 .btnregister{
    background-color: #FFC72C;
    border-radius: 10px
}
/* #hanu(e871d461930b46f7) #css ends */

/* #anna(h38209a5f778ff255) #css starts  */
.abouth38209a5f778ff255 .jumbotron{
    background-color: #F6F6EE;
    border-radius: 13px
}
.abouth38209a5f778ff255 .DescriptionHeading {
        font-size: 40px;
        color: black;
        margin-top: 50px
    }

    .abouth38209a5f778ff255 .DescriptionPara {
        font-size: 18px
    }
    
    .abouth38209a5f778ff255 .descriptionImage img{
        height: 400px;
        width: 500px
    }
    .abouth38209a5f778ff255 .searchBtn{
        background-color:#4A4CC7;
        border-radius: 10px;
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: bold
    }
    .abouth38209a5f778ff255 .teacher{
        text-decoration: underline;
        text-decoration-thickness: 3px
    }
    .abouth38209a5f778ff255 .teacher:hover{
        text-decoration: underline;
        text-decoration-thickness: 3px
    }

/* #anna(h38209a5f778ff255) #css ends  */

/* #satar(b2186d92f11e4fb9) #css starts  */
.serviceb2186d92f11e4fb9 .Text{
    font-weight: bold;
    margin-top: 11px;
    margin-left: 10px
}
.service{
    margin-left: -80px;
}
@media (min-width: 500px) {
.serviceb2186d92f11e4fb9 .row {
            margin-left: 140px
        }
.serviceb2186d92f11e4fb9 .col-lg-3 {
            margin-top: 14px
        }
    }
    @media (min-width: 768px) {
.serviceb2186d92f11e4fb9 .row {
            justify-content: center
        }
    }
    @media (max-width: 767px) {
.serviceb2186d92f11e4fb9 .row {
            margin-left: 150px
        }
}
/* #satar(b2186d92f11e4fb9) #css ends  */