:root {
    --brand-color: #4A4CC7;
    --light-brand-color: #FFC72C;
    --text-color:  #000000;
    --light-text-color: #7C7C7C;
    --alert-color:  #EDED00 ;
    --success-color: #67E500;
    --warning-color: #2539EA;
    --error-color: #EA0000;
    --main-background-color : #f8f9fa;
    --light-background-color : #fbfbfb;
    --default-font : Roboto, sans-serif;
    --primary-font : Schibsted Grotesk, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --default-font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
/* Typography Starts here */
*,
html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}

section{
    border-bottom: none;
    margin-bottom: 25px;
}

footer #footer{
    margin-bottom: 0px;
}

a {   
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 4rem;
}
h2 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.813rem;
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

.emphasis {
    font-family: var(--brand-color);
    font-style: italic;
    color: var(--main-brand-color);
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}

.pill-btn {
    border-radius: 499rem;
}

.rounded-corners {
    border-radius: .3rem;
}

.alt-background {
    background: var(--main-background-color);
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-white,
.btn-outline-white,
.btn-success,
.btn-outline-success,
.btn-info,
.btn-outline-info,
.btn-warning,
.btn-outline-warning,
.btn-danger,
.btn-outline-danger {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-white,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
    border-width: .15rem;
}

.btn:focus{
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}


.lead {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color)
}

@media(max-width: 767px) {
    .lead {
        font-size: 1.2rem      
    }
  }

/* Typography Ends here */  

/* #hanu(e871d461930b46f7) #css starts */
.headere871d461930b46f7 .navbar-light{
    background-color: white
}
.headere871d461930b46f7 .letter{
    color: #FFC72C
}
.headere871d461930b46f7 .navbar-brand{
    font-weight: bolder;
    margin-right: 2.5rem
}
.headere871d461930b46f7 .nav-item{
    font-weight: bold
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover {
    color: #4A4CC7
}
.headere871d461930b46f7 .btnregister{
    background-color: #FFC72C;
    border-radius: 10px
}
/* #hanu(e871d461930b46f7) #css ends */

/* #anna(h38209a5f778ff255) #css starts  */
.abouth38209a5f778ff255 .jumbotron{
    background-color: #F6F6EE;
    border-radius: 13px
}
.abouth38209a5f778ff255 .DescriptionHeading {
        font-size: 40px;
        color: black;
        margin-top: 50px
    }

    .abouth38209a5f778ff255 .DescriptionPara {
        font-size: 18px
    }
    
    .abouth38209a5f778ff255 .descriptionImage img{
        height: 400px;
        width: 500px
    }
    .abouth38209a5f778ff255 .searchBtn{
        background-color:#4A4CC7;
        border-radius: 10px;
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: bold
    }
    .abouth38209a5f778ff255 .teacher{
        text-decoration: underline;
        text-decoration-thickness: 3px
    }
    .abouth38209a5f778ff255 .teacher:hover{
        text-decoration: underline;
        text-decoration-thickness: 3px
    }

/* #anna(h38209a5f778ff255) #css ends  */

/* #satar(b2186d92f11e4fb9) #css starts  */
.serviceb2186d92f11e4fb9 .Text{
    font-weight: bold;
    margin-top: 11px;
    margin-left: 10px
}
.service{
    margin-left: -80px;
}
@media (min-width: 500px) {
.serviceb2186d92f11e4fb9 .row {
            margin-left: 140px
        }
.serviceb2186d92f11e4fb9 .col-lg-3 {
            margin-top: 14px
        }
    }
    @media (min-width: 768px) {
.serviceb2186d92f11e4fb9 .row {
            justify-content: center
        }
    }
    @media (max-width: 767px) {
.serviceb2186d92f11e4fb9 .row {
            margin-left: 150px
        }
}
/* #satar(b2186d92f11e4fb9) #css ends  */

    /* #sagi(a8838571d54453e2) #css starts  */
    .sliders0af4ba91ba85fcce .list-item {
        margin-left: 30px;
     }
    .sliders0af4ba91ba85fcce .btnCaro{
        background-color: #F6F6EE;
        border:none;
        border-radius:20px;
        padding: 10px;
    }
    .sliders0af4ba91ba85fcce .btnCaro:hover, .btnCaro:focus{
        background-color: #FFC72C;
    }
    .sliders0af4ba91ba85fcce .heading3{
        font-size: 1.875rem;
    font-weight: bold;
    }
    .sliders0af4ba91ba85fcce .card-product .bottom-wrap {
        padding-top: 5px;
        padding-bottom: 15px;
        }
        .sliders0af4ba91ba85fcce .price-wrap .badge{
        font-size: 11px;
    }
    .sliders0af4ba91ba85fcce li::marker{
            color: #EFC537;
        }
        .sliders0af4ba91ba85fcce .price-new {
            font-weight: bold;
            color: #4A4CC7
        }
    @media only screen and (max-width: 944px) and (max-height: 493px)  {
        .sliders0af4ba91ba85fcce .list-item {
       margin-left: -15px;
    }
    .sliders0af4ba91ba85fcce .label-rating{
        margin-top: 5px;
       }
    }
    @media only screen and (min-width: 944px) and (max-height: 493px) {
        .sliders0af4ba91ba85fcce .list-item {
      margin-left: 25px;
    }
    }
    .sliders0af4ba91ba85fcce .label-rating{
        display: inline-block;
       
    }
    .sliders0af4ba91ba85fcce .rating-wrap{
        margin-top: 50px;
       }
       .sliders0af4ba91ba85fcce .label-rating{
        font-weight: bold;
        margin-right: 15px;
       }
       .sliders0af4ba91ba85fcce .bg-gradient{
        background-color: #FFC72C;
       }
        /* #sagi(a8838571d54453e2) #css ends  */


/* #agun(e50d5193e4b9f737) #css starts  */
.aboute50d5193e4b9f737 h2{
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    line-height: 1.5
}
.aboute50d5193e4b9f737 li {
            list-style: none;
            padding: 10px 30px;
            background-image: url("https://i.ibb.co/5Tg0P3R/chk.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 20px         
        }
        .aboute50d5193e4b9f737 .margin{
    font-weight: bold
}
.aboute50d5193e4b9f737 .searchBtn{
        background-color:#4A4CC7;
        border-radius: 10px;
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: bold
    }
@media (max-width: 767px) {
    .aboute50d5193e4b9f737 .aboutIMG{
        margin-top: 15px;
}
}
/* #agun(e50d5193e4b9f737) #css ends  */

/* #sanford(s6f017268c2c78eba) #css starts  */
.sliders6f017268c2c78eba .carousel-indicators {
    right: auto;
    bottom: auto;
    top: 50%;
    transform: rotate(90deg);
    margin-left: 0;
    margin-right: 0
}
.sliders6f017268c2c78eba .carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #009F85;
    
}
.sliders6f017268c2c78eba .carousel-indicators li.active {
    background-color: #000
}
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.carousel-item-next,
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.active.carousel-item-right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0
}
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.carousel-item-prev, 
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.active.carousel-item-left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0
}
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.next.carousel-item-left, 
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right, 
.sliders6f017268c2c78eba .carousel-inner > .carousel-item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0
}
/* #sanford(s6f017268c2c78eba) #css ends  */

    /* #basu(d12294b36d7b134b) #css starts  */
    .bannerd12294b36d7b134b .button {
        background-color: #4A4CC7;
        color: rgb(255, 255, 255);
        margin-top: 20px
    }

    .bannerd12294b36d7b134b .button:hover {
        color: #FFC72C
    }
    .bannerd12294b36d7b134b .background{
        padding: 50px
    }
    .bannerd12294b36d7b134b .banner-container{
        background-color: #E8EDF3
    }
    .bannerd12294b36d7b134b .backgroundIMG{
        background-image: url(https://i.ibb.co/VtwvzPC/1.png);
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 122px
    }
    /* #basu(d12294b36d7b134b) #css ends  */

        /* #funna(bb40107f5c885251) #css starts */
        .footerbbb40107f5c885251 {
            min-height: 40vh
        }
    
       .footerbbb40107f5c885251 a,
       .footerbbb40107f5c885251 a:hover,
       .footerbbb40107f5c885251 a:focus,
       .footerbbb40107f5c885251 a:active {
            text-decoration: none;
            outline: none
        }
    
        .footerbbb40107f5c885251 a,
        .footerbbb40107f5c885251 a:active,
        .footerbbb40107f5c885251 a:focus {
            color: #6f6f6f;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s
        }
    
        .footerbbb40107f5c885251 ul {
            margin: 0;
            padding: 0;
            list-style: none
        }
    
        .footerbbb40107f5c885251 .footer-section {
           
            position: relative;
            overflow: hidden;
            z-index: 9
        }
    
        .footerbbb40107f5c885251 .footer-section:before {
            content: '';
            position: absolute;
            top: -146%;
            left: -18%;
            width: 44%;
            height: 257%;
            transform: rotate(54deg);
            -webkit-transform: rotate(54deg);
            -moz-transform: rotate(54deg);
            -ms-transform: rotate(54deg);
            -o-transform: rotate(54deg);
            z-index: -10
        }
    
        .footerbbb40107f5c885251 .footer-section:after {
            position: absolute;
            content: '';
            top: -24%;
            right: 4%;
            width: 26%;
            height: 264%;
            transform: rotate(44deg);
            -webkit-transform: rotate(44deg);
            -moz-transform: rotate(44deg);
            -ms-transform: rotate(44deg);
            -o-transform: rotate(44deg);
            z-index: -10
        }
    
        .footerbbb40107f5c885251 .footer-top {
            padding-top: 96px;
            padding-bottom: 50px
        }
    
        .footerbbb40107f5c885251 .footer-top p{
    margin-bottom: 0
        }
    
        .footerbbb40107f5c885251 .footer-top .site-logo {
            font-size: 25px;
            margin-bottom: 25px;
            display: block;
            max-width: 170px
        }
    
        .footerbbb40107f5c885251 .footer-top .widget-title {
            margin-top: 25px;
            font-weight: bold;
            margin-bottom: 30px
        }
    
        .footerbbb40107f5c885251 .courses-link-list li+li {
            margin-top: 10px
        }
    
        .footerbbb40107f5c885251 .courses-link-list li a {             
            font-weight: 400
        }
    
        .footerbbb40107f5c885251 .courses-link-list li a:hover {
            color: #FFC72C
        }
    
        .footerbbb40107f5c885251 .courses-link-list li i {
            margin-right: 5px
        }
    
        .footerbbb40107f5c885251 .small-post-list li+li {
            margin-top: 30px
        }
    
        .footerbbb40107f5c885251 .news-letter-form {
            margin-top: 15px
        }
    
        .footerbbb40107f5c885251 .news-letter-form input {
            width: 100%;
            padding: 12px 25px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: none
        }
    
        .footerbbb40107f5c885251 .span{
            color: #FFBA3C
        }
        .footerbbb40107f5c885251 .form-control{
            padding: 20px
        }
        .footerbbb40107f5c885251 .SPANBG{
            background-color: #4A4CC7
            
        }
        .footerbbb40107f5c885251 .fa-paper-plane{
            color: #ffffff
        }
        .footerbbb40107f5c885251 input.form-control{
            background-color: #EFEEF3
        }
        .footerbbb40107f5c885251 .btn{
            border-radius: 25px
        }
        .footerbbb40107f5c885251 .FaIcons .fa-brands {
      padding: 20px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px
    }
    
    .footerbbb40107f5c885251 .fa-brands:hover {
        opacity: 0.7
    }
    .footerbbb40107f5c885251 .site-logo-text{
        color: black;
    }
        /* #funna(bb40107f5c885251) #css ends */